
body{
  background-color: #282828;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  
  height: 100%;
  color: aliceblue;
  height: 100vh;
}

section{
  min-height: 94vh;
}

form{
  margin: 1rem 0;
}

input{
  min-width: 16rem;
  width: 80%;
  height: 2rem;
  border-radius:10px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  color: #282828;
}

p{
  margin: .6rem;
  padding: .8rem;
  border-radius: 8px;
  background-color: rgb(53, 150, 255);
}

button{
  display: none;
  font-size: 1.2rem;
  color: #3a3a3a;
  position: relative;
  padding: auto;
  cursor: pointer;
  margin: 1rem 0 0 0;
}

.show{
  display: block;
}

span{
  position: relative;
  top: -8px;
}

img{
  width: 2rem;
}

.logged-out{
  position: relative;
  top: 0px;
}

h3{
  color: red;
}
